<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="table">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Table</th>
      <td mat-cell *matCellDef="let element"> {{element.table}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="waiter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Waiter </th>
      <td mat-cell *matCellDef="let element"> {{element.waiter}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="drink">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Drink </th>
      <td mat-cell *matCellDef="let element"> {{element.drink}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ready">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ready </th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.ready"></mat-checkbox></td>
    </ng-container>

    <!-- Delivered Column -->
    <ng-container matColumnDef="delivered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivered </th>
      <td mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.delivered"></mat-checkbox></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
